<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- Adding flexbox properties for display-->
    <style>
        .container{
            display:flex;
            aspect-ratio: auto ;
            background-color: olive;
            justify-content: center;
            align-items: flex-start;

        }


    </style>
  </head>
  <body>
  <div class="container">
  <form action="/add_book" method="POST">
  <!-- Add the form here -->
  <label for="title">Book Title : </label>
  <input type="text" id="title" name="title" required><br><br>

  <label for="isbn">ISBN : </label>
  <input type="text" id="isbn" name="isbn" required><br><br>
  <label for="publication_year">Publication Year : </label>
  <input type="number" id="publication_year" name="publication_year"><br><br>
   <label for="author_name">Author's Name : </label>
  <input type="text" id="author_name" name="author_name"><br><br>
  <input type="submit" value="Add Book">
  </form>

  <!-- displaying the success msg -->
  {% if message %}
      <p style="color: purple;">{{ message }}</p>
    {% endif %}
  </div>
  </body>
</html>
